@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Serif+Pro');

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.o-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  padding-left: 20px;
  padding-right: 20px;
}

.c-header {
  height: 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 10px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.3) 0 1px 1px;

  display: flex;
  justify-content: space-between;
}
  .c-header__button {
    width: 20px;
    height: 20px;

    display: block;
    text-indent: -9999px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
    .c-header__button--menu {
      background-image: url('/images/menu.svg');
    }
    .c-header__button--search {
      background-image: url('/images/search.svg');
    }

.c-logo {
  width: 200px;
  height: 20px;

  display: block;
  text-indent: -9999px;

  background-image: url('/images/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.c-hero {
  width: 100vw;
  height: 66.66vw;
  background: transparent url('/images/hero.jpg') no-repeat;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
}

.c-intro {
  padding-left: 20px;
  padding-right: 20px;
}

.c-product {
}
  .c-product__image { width: 100% }
  .c-product__name { font-size: 14px }
  .c-product__price { margin-bottom: 0 }
